section.blog
	.container
		h2.section-title.wow.slideInLeft() Блог
		.blog_content
			.row
				.col.col-sm-4.wow.slideInLeft(data-wow-duration='1s')
					.blog_box
						.blog_img(style='background-image: url('+ require("../components/images/photo-4.jpg") +')')
						.blog_overlay
							.blog_inner
								h5.wow.fadeIn(data-wow-delay='0.5s')
									a(href="cleaning.html") Химчистка салона
								p.wow.fadeIn(data-wow-delay='1s').
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Aliquam rhoncus, lacus consequat gravida molestie, 
									tortor enim rhoncus enim, sit amet dictum enim
								a.read-more.wow.fadeIn(href="#", data-wow-delay='1.5s') узнать больше
				.col.col-sm-4.wow.fadeIn(data-wow-duration='2s')
					.blog_box
						.blog_img(style='background-image: url('+ require("../components/images/photo-4.jpg") +')')
						.blog_overlay
							.blog_inner
								h5.wow.fadeIn(data-wow-delay='0.5s')
									a(href="cleaning.html") Химчистка салона
								p.wow.fadeIn(data-wow-delay='1s').
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Aliquam rhoncus, lacus consequat gravida molestie, 
									tortor enim rhoncus enim, sit amet dictum enim
								a.read-more.wow.fadeIn(href="#", data-wow-delay='1.5s') узнать больше
				.col.col-sm-4.wow.slideInRight(data-wow-duration='1s')
					.blog_box
						.blog_img(style='background-image: url('+ require("../components/images/photo-4.jpg") +')')
						.blog_overlay
							.blog_inner
								h5.wow.fadeIn(data-wow-delay='0.5s')
									a(href="cleaning.html") Химчистка салона
								p.wow.fadeIn(data-wow-delay='1s')
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Aliquam rhoncus, lacus consequat gravida molestie, 
									tortor enim rhoncus enim, sit amet dictum enim
								a.read-more.wow.fadeIn(href="#", data-wow-delay='1.5s') узнать больше