footer
	.footer
		.container
			.footer_content
				.footer_main
					.row
						.col-md-6
							a(href="#", aria-hidden='true').fa.fa-instagram.wow.fadeIn
							h6.wow.fadeInLeft(data-wow-delay='0.5s')
								a(href="#") #xodas auto
								|  on Instagram
							p.wow.fadeInLeft(data-wow-delay='1s') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus, lacus consequat 
						.col-md-6
							.footer_img.wow.fadeInRight(data-wow-delay='1s', style='background-image: url(' + require("../components/images/photo-1.jpg") + ')')
							.footer_img.wow.fadeInRight(data-wow-delay='0.5s', style='background-image: url(' + require("../components/images/photo-2.jpg") + ')')
							.footer_img.wow.fadeInRight(style='background-image: url(' + require("../components/images/photo-3.jpg") + ')')
				.footer_bottom
					p.footer_copyright.wow.fadeInLeft(data-wow-duration='1s') © 2017 Xodas Auto. All rights reserved
					a(href="http://unitspace.top", data-wow-duration='1s').footer_logo.wow.fadeInRight