header
	.header.wow.fadeIn
		.container-fluid
			.header_content.clearfix
				.header_left
					a(href="./").header_logo
				.header_main
					.header_top
						.header_contacts
							.header_tel
								i.fa.fa-phone(aria-hidden='true')
								a(href="+380970780890") (097) 07 80 890
								a(href="+380970780890") (097) 07 80 890
							.header_mail
								i.fa.fa-envelope(aria-hidden='true')
								a(href="mailto:xodasauto@gmail.com") xodasauto@gmail.com
						.header_nav
							ul
								li
									a(href="./", title="Главная") Главная
									a(href="company.html" title="О компании") О компании
									a(href="cleaning.html" title="Услуги") Услуги
									a(href="blog-page.html" title="Блог") Блог
									a(href="contacts.html" title="Контакты") Контакты
					.header_bottom.clearfix
						.header_menu#HeaderMenu
							ul.clearfix
								li
									a(href="cleaning.html") Химчистка салона
								li
									a(href="restoring.html") Реставрация салона
								li
									a(href="polishing.html") Полировка кузова
								li
									a(href="nanoceramics.html") Нанесение нанокерамики(жидкого стекла)
								li
									a(href="armor.html") Оклейка бронепленкой
								li
									a(href="equipment.html") Автоэлектроника (доп. оборудование)
								li
									a(href="restyling.html") Рестайлинг авто
								li
									a(href="washing.html") Premium мойка авто 
						.header_search#HeaderSearch
							.header_search_icon.glyphicon.glyphicon-search#HeaderSearchClick
						.header_hamburger#HeaderHamburger
							.header_hamburger_inner
								span.header_hamburger_top
								span.header_hamburger_mid
								span.header_hamburger_bottom
						form#HeaderForm
							div.input-wrapper
								.glyphicon.glyphicon-search
								input(type='text', name='search', placeholder='Что вы ищете?')
						