section.services
	.container
		h2.section-title.wow.slideInLeft() Каталог услуг
		.sliderui
		.slick-services
			div
				a(href="cleaning.html").slick-services_box
					.slick-services_img(style='background-image: url(' + require("../components/images/photo-5.jpg") + ')', data-wow-duration='1s').wow.flipInY
						.slick-services_overlay
							.slick-services_inner
								h5 Химчистка салона
								p Комплексный подход к уходу за автомобилями
					object
						a(href="cleaning.html") Узнать больше
			div
				a(href="restoring.html").slick-services_box
					.slick-services_img(style='background-image: url(' + require("../components/images/photo-6.jpg") + ')', data-wow-duration='1s').wow.flipInY
						.slick-services_overlay
							.slick-services_inner
								h5 реставрация салона
								p Комплексный подход к уходу за автомобилями
					object
						a(href="restoring.html") Узнать больше
			div
				a(href="polishing.html").slick-services_box
					.slick-services_img(style='background-image: url(' + require("../components/images/photo-7.jpg") + ')', data-wow-duration='1s').wow.flipInY
						.slick-services_overlay
							.slick-services_inner
								h5 Полировка салона
								p Комплексный подход к уходу за автомобилями
					object
						a(href="polishing.html") Узнать больше
			div
				a(href="nanoceramics.html").slick-services_box
					.slick-services_img(style='background-image: url(' + require("../components/images/photo-8.jpg") + ')', data-wow-duration='1s').wow.flipInY
						.slick-services_overlay
							.slick-services_inner
								h5 нанесение нанокерамики (жидкого стекла)
								p Комплексный подход к уходу за автомобилями
					object
						a(href="nanoceramics.html") Узнать больше
			div
				a(href="cleaning.html").slick-services_box
					.slick-services_img(style='background-image: url(' + require("../components/images/photo-5.jpg") + ')', data-wow-duration='1s').wow.flipInY
						.slick-services_overlay
							.slick-services_inner
								h5 химчистка салона
								p Комплексный подход к уходу за автомобилями
					object
						a(href="cleaning.html") Узнать больше
			div
				a(href="restoring.html").slick-services_box
					.slick-services_img(style='background-image: url(' + require("../components/images/photo-6.jpg") + ')', data-wow-duration='1s').wow.flipInY
						.slick-services_overlay
							.slick-services_inner
								h5 реставрация салона
								p Комплексный подход к уходу за автомобилями
					object
						a(href="restoring.html") Узнать больше